<%- include("partials/header.ejs") %>

<% if(locals.users) { %> <% users.forEach(function(user) { %>
<p class="display-5 my-2">Welcome: <%=user.username%></p>
<% })} else { %>
<p>No users found</p>
<% } %>

<a class="btn btn-outline-secondary btn-lg button my-2" href="/coffee-form" role="button">Add Coffee</a>
<a class="btn btn-outline-secondary btn-lg button my-2" href="/form" role="button">Add Score</a>
<a class="btn btn-outline-secondary btn-lg button my-2" href="/logout" role="button">Logout</a>

<h2 class="my-4">Cup Scores</h2>
<div class="container border">
  <div class="row text-center justify-content-center">
    <div class="col fs-3 fw-bold">Cupper</div>
    <div class="col fs-3 fw-bold">CoffeeID</div>
    <div class="col fs-3 fw-bold">Total Score</div>
  </div>
  <% if(locals.scores) { %>
    <% scores.forEach(function(score){ %>
      <div class="row text-center justify-content-center">
        <div class="col"><%=score.cupperName%></div>
        <div class="col"><%=score.coffeeId%></div>
        <div class="col"><%=score.totalScore%></div>
      </div>
    <% }) %>
  <% } %>
  </div>
</div>
<div class="container my-4">
<% if(locals.scores) { %> <% scores.forEach(function(score) { %>
<p><%=score%></p>
<% })} else { %>
<p>No scores found</p>
<% } %>
</div>

<h2 class="my-4">Coffees</h2>
<div class="container border">
  <div class="row text-center justify-content-center">
    <div class="col fs-3 fw-bold">Region</div>
    <div class="col fs-3 fw-bold">City</div>
    <div class="col fs-3 fw-bold">Farm</div>
    <div class="col fs-3 fw-bold">Altitude (m.a.s.l)</div>
    <div class="col fs-3 fw-bold">Producer / Cooperativo</div>
    <div class="col fs-3 fw-bold">Provider Email</div>
  </div>
  <% if(locals.coffees) { %>
    <% coffees.forEach(function(coffee){ %>
      <div class="row text-center justify-content-center">
        <div class="col"><%=coffee.region%></div>
        <div class="col"><%=coffee.city%></div>
        <div class="col"><%=coffee.farm%></div>
        <div class="col"><%=coffee.altitude%></div>
        <div class="col"><%=coffee.providerName%></div>
        <div class="col"><%=coffee.providerEmail%></div>
      </div>
    <% }) %>
  <% } %>
  </div>
</div>

<% if(locals.coffees) { %> <% coffees.forEach(function(coffee) { %>
<p><%=coffee%></p>
<% })} else { %>
<p>No coffees found</p>
<% } %> <%- include("partials/footer.ejs") %>
